body {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: rgb(217,176,109, 0.8);
    font-family: 'Dancing Script', cursive;
    padding: 15px;
    margin: 0;
    text-shadow: 0px 1px 1px rgb(253, 244, 194), 0px 2px 2px rgb(0, 0, 0);
}

#outerBox {
    background-color: rgb(214,57,63);
    flex: 0 0 auto;
    margin: 30px 65px 30px 65px;
    box-shadow: inset 5px 5px 10px #f3aead, 5px 10px 8px #888888;
    border-radius: 10px;
    width: 650px;
    height: 680px;
}

#gridContainer {
    display: grid;
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px solid rgb(212, 212, 212);
}

#bottomSettings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px 10px 40px;
}

#btnsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px 40px 15px 40px;
}

#toggleBlack, #toggleRainbow, #toggleEraser, #clearGrid, #toggleBorder {
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    width: 65px;
    height: 60px;
}

button:active {
    background-color: rgb(255, 208, 208);
}

.cells {
    border: 0.5px solid rgb(49, 28, 28);
    background-color: white;
}

.sliderText {
    margin: 20px 0 0 0;
}

.sliderContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    font-size: 14px;
    margin: 15px auto auto auto;
}

input[type=range]{
    -webkit-appearance: none;
    background: rgb(214,57,63);
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgb(212, 212, 212);
    height: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -8px;
}