h1 {
    text-align: center;
}

#gridContainer {
    display: grid;
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.cells {
    border: 0.5px solid black;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}